<script lang="ts">
  import type { ImageField } from "@prismicio/types"
  export let src: ImageField
	export let classes = ""
	export let classesOuter = ""
	export let styles = ""

	let width
	let loaded = false
  let compression = true

  // Functions
  const uncompressed = (url: string) => url.replace(/\?.*$/, '')

  // Post processing
  if (/.svg|.gif/.test(src.url)) {
    compression = false
  }

	function imageLoaded() {
		loaded = true
	}
</script>

<div bind:offsetWidth={width} class="w-full h-full relative {classesOuter}" >
  {#if compression}
    {#if !loaded}
      <img draggable="false" src="{src.url}?&w=50&blur=50" alt="{src.alt}" style={styles} width={width} class="{classes} w-full h-full">
    {/if}

    <img
    on:load="{imageLoaded}"
    draggable="false"
    srcset="
      {src.url}?&w={width}&fm=webp&lossless=true&dpr=1 1x,
      {src.url}?&w={width}&fm=webp&lossless=true&dpr=2 2x,
      {src.url}?&w={width}&fm=webp&lossless=true&dpr=3 3x
    "
    src="{src.url}?&w={width}&fm=webp&lossless=true"
    alt="{src.alt}"
    width={width}
    style={styles}
    class="{classes} w-full h-full top-0 left-0 transition-opacity duration-500 opacity-0 {loaded ? 'opacity-100' : ''}">
  {:else}
    <img
      draggable="false"
      src={uncompressed(src.url)} class="{classes}" alt={src.alt} >
  {/if}
</div>