<script lang="ts">
  import type types from "@prismicio/types"
  export let embed: types.VideoOEmbed
  export let background = true
  let clientWidth
</script>


<div bind:clientWidth style:height="{clientWidth * (embed.height / embed.width)}px" class="flex justify-center">
  <iframe class="w-full h-full" title={embed.version} src="https://player.vimeo.com{embed.uri.replaceAll('videos', 'video')}?background={+background}&autoplay=1&muted=1" width={clientWidth} height="{clientWidth * (embed.height / embed.width)}px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>