<script>
  import "../app.css"
  import Navigation from "../lib/components/Navigation.svelte"
</script>

<div class="project-container">
  <!-- Always stays on the page -->
  <Navigation />

  <!-- Page gets rendered here -->
  <slot />
</div>

<style>
  .project-container {
    padding: 20px;
    background: azure;
    color: indigo;
  }
</style>