<script lang="ts">
	export let data;
	import { isFilled } from '@prismicio/helpers';
	import Model from '$lib/components/Model.svelte';

	const { prismicDocument } = data;

	let title = '3rd culture kids';
</script>

<h1 class="title">
	{title}
</h1>

<p>This is a paragraph.</p>

{#if isFilled.group(prismicDocument.data.models)}
	<div class="models">
		{#each prismicDocument.data.models as { model: src }}
			<Model {src} />
		{/each}
	</div>
{/if}

<style>
	.models {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
	}
	p {
		color: purple;
		font-family: 'Comic Sans MS', cursive;
	}
</style>
