<script lang="ts">
  import { dev } from "$app/environment"
	import Comment from "$lib/tools/comment.svelte"
  
  import Work from "$lib/correspondence/slices/work/cover.svelte"
  import Testimonial from "$lib/correspondence/slices/testimonial.svelte"
  import Images from "$lib/correspondence/slices/images.svelte"
  // import Paragraphs from "$lib/correspondence/slices/paragraphs.svelte"
  import Title from "$lib/correspondence/slices/title.svelte"

  export let i: number
	export let slice
  export let sliceClasses = "slice w-full"

	const mappings = {
		image: Images,
		image_1: Images,
    title: Title,
    work: Work,
    testimonial: Testimonial
	}

  const missingSlice = (key) => !Object.keys(mappings).includes(key)
</script>

<div class="{sliceClasses}">
  <Comment comment={slice.slice_type} />

	{#if slice.slice_label == null}
  	<svelte:component {i} this={mappings[slice.slice_type]} {slice} />
	{:else}
		<svelte:component {i} this={mappings[slice.slice_type + slice.slice_label]} {slice} />
	{/if}

  {#if dev && missingSlice(slice.slice_type)}
    <div class="sm:p-5">
      <pre>Missing module for {slice.slice_type}</pre>
    </div>
  {/if}
</div>