<script lang="ts">
	import Slice from '$lib/prismic/functionality/slice/slice.svelte'
  import { page } from "$app/stores"

	export let slices
  export let sliceClasses = "slice w-full"
</script>

{#if slices}
	<div class="allSlices px-5 pt-5 sm:px-0 sm:pt-0">
		{#each slices as slice, i}
      <Slice {i} {slice} {sliceClasses} />
		{/each}
	</div>
{/if}