<script lang="ts">
	import Link from "$lib/prismic/atoms/link.svelte"
	import Text from "$lib/prismic/atoms/text.svelte"
  import Footer from "$lib/correspondence/footer.svelte"
  import { slide } from "svelte/transition"

	export let setup
	export let document

  export let collapsed = true

  let innerHeight

  const toggle = () => { collapsed = !collapsed}
</script>

<svelte:window bind:innerHeight />

<div style:height={collapsed ? '100px' : `${innerHeight}px`} class="fixed sm:hidden inset-0 overflow-y-scroll z-50">
  <div class="h-auto min-h-[20px] block bg-correspondence overflow-hidden relative" on:click={toggle}>
    {#if !collapsed}
    <div class="w-24 absolute top-4 right-2 z-10 cursor-pointer">
      <svg class="w-full" width="53" height="52" viewBox="0 0 53 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27.9303 0.0142954C28.1209 -0.0354172 28.2551 0.0565123 28.3945 0.107101C30.2667 0.786557 32.0061 1.72628 33.6209 2.90186C33.9239 3.12244 34.166 3.22447 34.4004 2.83093C34.4815 2.69491 34.617 2.65785 34.7738 2.71714C35.1687 2.86648 35.5206 3.06562 35.7644 3.43832C35.9236 3.68158 35.9765 3.88337 35.7243 4.09397C35.5421 4.24615 35.4918 4.4038 35.7091 4.59546C37.1912 5.90245 38.3918 7.47138 39.6432 8.99268C39.7522 9.12527 39.8533 9.26471 40 9.45555C39.7533 9.41952 39.668 9.28157 39.5639 9.17855C38.4961 8.12237 37.4897 6.99987 36.3227 6.05113C36.0001 5.7889 35.6476 5.56505 35.3126 5.31836C35.1435 5.19391 35.0136 5.22087 34.8916 5.38839C34.7721 5.55259 34.6416 5.7086 34.5145 5.86702C34.455 5.94118 34.3877 6.06181 34.2999 6.03589C33.9532 5.93359 33.8454 6.21275 33.6921 6.40778C32.4368 8.0048 31.1859 9.60538 29.9332 11.2046C29.7821 11.3975 29.562 11.5641 29.9521 11.7692C30.1755 11.8867 30.0456 12.1013 29.9046 12.2152C29.6521 12.419 29.4594 12.639 29.4736 12.9905C29.4754 13.0348 29.4567 13.1032 29.4252 13.1222C29.0186 13.3677 28.9245 13.8688 28.5906 14.1707C28.3666 14.3732 28.0878 14.4396 27.7999 14.4387C27.528 14.4378 27.3298 14.542 27.1592 14.7536C25.3596 16.9856 23.5567 19.2146 21.7518 21.442C21.6316 21.5904 21.5682 21.7333 21.6122 21.9339C21.6586 22.1458 21.5597 22.2951 21.335 22.2986C21.1141 22.302 21.0878 22.4148 21.1097 22.6015C21.1288 22.7643 21.0656 22.9146 20.9433 23.0216C20.7925 23.1535 20.6966 23.3067 20.6745 23.5105C20.6684 23.5667 20.6339 23.6626 20.6031 23.6666C20.226 23.7162 20.0565 24.162 19.6654 24.1722C19.4556 24.1776 19.3172 24.2951 19.1875 24.4437C18.654 25.0554 18.1164 25.6634 17.5827 26.275C17.3167 26.5799 17.0938 26.6061 16.797 26.3585C16.5305 26.1361 16.5063 25.7884 16.7522 25.5104C17.1237 25.0903 17.4987 24.673 17.8826 24.2645C18.0759 24.0588 18.0303 23.9398 17.8099 23.7892C16.9391 23.1942 15.9378 23.0863 14.9394 22.961C14.7658 22.9392 14.5908 22.9277 14.4103 22.9109C14.3976 23.0782 14.5177 23.1582 14.5902 23.2579C14.8122 23.5627 14.8872 23.8863 14.7244 24.2388C14.6417 24.4177 14.6603 24.5783 14.7257 24.7577C15.6806 27.3759 16.5035 30.0377 17.1713 32.7454C17.6062 34.5083 17.8867 36.3032 17.9381 38.1252C17.9805 39.6285 17.9452 41.1321 17.8559 42.633C17.8249 43.155 17.9348 43.6127 18.2693 44.0059C18.6694 44.4763 18.8212 44.9575 18.3803 45.4898C18.2868 45.6027 18.3381 45.7151 18.3909 45.826C18.6329 46.3347 18.866 46.8479 19.1183 47.3512C19.3825 47.878 19.7864 48.2424 20.3567 48.4114C20.6967 48.5121 21.0377 48.6206 21.3609 48.7657C21.771 48.9498 21.8375 49.2453 21.5586 49.6036C21.0399 50.2701 20.3523 50.5072 19.5395 50.3527C18.9165 50.2343 18.3445 49.9665 17.8034 49.6418C17.3645 49.3784 16.9129 49.2109 16.3963 49.2241C16.198 49.2291 15.9964 49.1856 15.7994 49.1477C15.1291 49.019 14.9721 48.833 14.8158 48.1528C14.0193 44.6865 13.1731 41.2334 12.1857 37.8167C11.4357 35.2214 10.7255 32.6143 9.98988 29.9848C9.03656 31.3134 8.32551 32.7622 7.48315 34.1273C6.83923 35.1709 6.802 36.3324 6.59247 37.4683C6.45517 38.2126 6.33267 38.9597 6.20102 39.7051C5.93596 41.2059 5.23404 42.5106 4.42473 43.7642C4.10517 44.2592 3.84047 44.782 3.60466 45.3206C3.32964 45.9486 3.31643 46.5637 3.65608 47.1895C4.01146 47.8444 3.97534 47.961 3.41989 48.4411C3.2053 48.6266 3.10019 48.8182 3.15186 49.1278C3.21164 49.486 3.2904 49.8339 3.41092 50.174C3.44299 50.2645 3.47947 50.3536 3.50753 50.4453C3.78885 51.3652 3.51014 51.8252 2.57311 51.9602C2.19795 52.0143 1.81575 52.0105 1.44012 51.9654C0.709964 51.8778 0.352139 51.4701 0.316467 50.7216C0.295146 50.2743 0.360756 49.8339 0.421626 49.3935C0.444833 49.2256 0.469959 49.0588 0.414637 48.8938C-0.152513 47.2018 -0.0527726 45.4814 0.211073 43.7566C0.638303 40.9637 1.30299 38.2161 1.75438 35.4278C2.27672 32.2012 2.78885 28.9727 3.43265 25.7681C3.47365 25.564 3.43599 25.4209 3.26446 25.3065C2.62443 24.8797 2.42453 24.3436 2.70753 23.5702C2.94079 22.9326 3.05478 22.2463 3.18274 21.574C3.25214 21.2094 3.42353 21.0111 3.76833 20.9046C4.17666 20.7785 4.27572 20.4481 4.0539 20.0688C4.01173 19.9967 3.95912 19.9301 3.92316 19.8552C3.87325 19.7511 3.85646 19.6163 3.96413 19.5646C4.11099 19.4942 4.08483 19.6569 4.1122 19.7323C4.16164 19.8686 4.25346 19.8748 4.36901 19.8356C4.47159 19.8007 4.54533 19.7421 4.49694 19.6243C4.03534 18.5002 4.57751 17.5603 5.12005 16.6875C5.53335 16.0226 5.58281 15.3152 5.69609 14.5999C5.79956 13.9465 5.92104 13.298 6.07197 12.6541C6.40547 11.2312 7.25818 10.1724 8.30377 9.22182C9.06083 8.53354 9.97013 8.37329 10.9168 8.27517C11.4318 8.22178 11.9189 8.1283 12.2196 7.61613C12.3399 7.41121 12.4378 7.21971 12.3949 6.97743C12.3446 6.69363 12.3037 6.40769 12.2425 6.12635C12.0948 5.44749 12.1153 4.78744 12.4345 4.15828C12.535 3.96004 12.5212 3.77646 12.4437 3.57099C12.2937 3.17339 12.346 3.03364 12.7119 2.84391C12.9208 2.7356 13.072 2.57613 13.209 2.393C13.5102 1.99024 13.8333 1.60744 14.1996 1.26357C14.8767 0.628091 15.6518 0.447798 16.5307 0.737127C17.5144 1.06095 18.3369 1.62521 18.9707 2.4574C19.5755 3.25147 19.7214 4.15212 19.3828 5.08054C19.1647 5.67869 19.2108 6.1336 19.7129 6.52742C19.7944 6.59134 19.8496 6.69262 19.9098 6.78162C20.2635 7.30461 20.1564 7.56743 19.5277 7.63805C19.0104 7.69616 18.4858 7.70367 17.9782 7.55267C17.6778 7.4633 17.5854 7.55053 17.6482 7.85918C17.6814 8.02263 17.6824 8.19414 17.6859 8.36227C17.6914 8.629 17.6186 8.84566 17.3068 8.86482C17.1398 8.87507 17.0563 8.96371 17.0093 9.12147C16.9617 9.28143 17.0318 9.38031 17.1498 9.4539C18.3871 10.2259 19.1582 11.476 20.1593 12.4899C20.7039 13.0414 21.2399 13.6019 21.771 14.1668C21.9119 14.3166 22.0726 14.3324 22.2545 14.3278C23.4079 14.2986 24.4808 13.9873 25.5293 13.4929C26.2677 13.1447 26.8664 12.7616 26.9115 11.8453C26.9172 11.73 26.9792 11.6158 27.0231 11.5044C27.149 11.1851 27.364 11.0079 27.7146 11.1127C27.921 11.1744 28.0478 11.1005 28.1689 10.9398C29.6151 9.02109 31.0646 7.10504 32.5127 5.18789C32.5558 5.13086 32.6345 5.06261 32.6265 5.01084C32.5554 4.55218 32.8779 4.2608 33.0656 3.91501C33.1647 3.73241 33.0461 3.65053 32.945 3.55211C32.0602 2.69058 31.0697 1.97395 30.0152 1.3456C29.4234 0.992999 28.8295 0.64422 28.2396 0.288489C28.1322 0.223754 27.9985 0.184347 27.9303 0.0142961L27.9303 0.0142954ZM19.9293 21.2673C20.2238 21.3722 20.435 21.1547 20.6464 20.8771C21.5145 19.7369 22.3981 18.6089 23.2708 17.4722C23.3604 17.3554 23.5664 17.2323 23.4849 17.0982C23.3997 16.9579 23.1801 17.0497 23.0218 17.0682C22.1405 17.1711 21.2458 17.1346 20.5461 16.5627C19.8378 15.9837 19.1365 15.8906 18.3243 16.1632C18.083 16.2442 17.9332 16.1503 17.8156 15.9167C17.6549 15.5975 17.4822 15.2785 17.1921 15.0507C16.9687 14.8754 16.8085 14.8445 16.6369 15.1508C15.8529 16.5497 15.0432 17.9337 14.2499 19.3273C13.8611 20.0104 13.8656 20.019 14.5578 20.4161C15.5099 20.9622 16.5518 21.2906 17.5647 21.6897C17.8255 21.7924 18.0607 21.7797 18.3138 21.6571C18.7965 21.4234 19.2979 21.2455 19.9293 21.2673H19.9293Z" fill="black"/>
        <path d="M39.4141 37.36L44.9441 31.83L50.5091 37.395L52.5741 35.33L47.0091 29.765L52.5741 24.2L50.5091 22.135L44.9441 27.7L39.4141 22.17L37.3491 24.235L42.9141 29.765L37.3491 35.295L39.4141 37.36Z" fill="white"/>
      </svg>      
    </div>

      <a href="/" data-sveltekit-reload transition:slide={{ duration: 150 }} class="text-medium lowercase h-[20vh] text-center flex justify-center items-center">
        <span>
          Correspondence
        </span>
      </a>
    {/if}
  </div>

  
  <div class="h-auto min-h-[20px] block bg-words overflow-hidden" on:click={toggle}>
    {#if !collapsed}
      <a href="/words" data-sveltekit-reload transition:slide={{ duration: 150 }} class="text-medium lowercase h-[20vh] text-center flex justify-center items-center">
        <span>
          Words
        </span>
      </a>
    {/if}
  </div>

  <div class="h-auto min-h-[20px] block bg-works overflow-hidden" on:click={toggle}>
    {#if !collapsed}
      <a href="/works" data-sveltekit-reload transition:slide={{ duration: 150 }} class="text-medium lowercase h-[20vh] text-center flex justify-center items-center">
        <span>
          Works
        </span>
      </a>
    {/if}
  </div>

  <div class="h-auto min-h-[20px] block bg-graphs overflow-hidden" on:click={toggle}>
    {#if !collapsed}
      <a href="/graphs" data-sveltekit-reload transition:slide={{ duration: 150 }} class="text-medium lowercase h-[20vh] text-center flex justify-center items-center">
        <span>
          Graphs
        </span>
      </a>
    {/if}
  </div>

  <div class="h-auto min-h-[20px] block bg-contact overflow-hidden" on:click={toggle}>
    {#if !collapsed}
      <a href="/contact" data-sveltekit-reload transition:slide={{ duration: 150 }} class="text-medium lowercase h-[20vh] text-center flex justify-center items-center">
        <span>
          Contact
        </span>
      </a>
    {/if}
  </div>
</div>