<script lang="ts">
  import type { FilledLinkToMediaField } from "@prismicio/types"
	import { Canvas, T } from '@threlte/core'
  import { GLTF, OrbitControls } from "@threlte/extras"

  let loaded = false
  
  export let src: FilledLinkToMediaField

  const url = src.url
</script>

<div class="canvas-container">
  <Canvas>

    <T.PerspectiveCamera makeDefault position={[0, 0, 100]} fov={5}>
      <T.DirectionalLight castShadow position={[3, 10, 10]} lookAt={{ y: 0 }} />
      <T.DirectionalLight position={[-3, 10, -10]} intensity={0.2} lookAt={{ y: 0 }} />

      <OrbitControls enableDamping />
    </T.PerspectiveCamera>


    <GLTF {url} useDraco />
  </Canvas>
</div>

<style>
  .canvas-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    aspect-ratio: 1;
  }
</style>
